<template name="main">
    <div class="wrapper">

        <section class="jumbotron">
            <div class="jumbotron__text-block">
                <h2 class="jumbotron__title">{{jumbotron.title}}</h2>
                {{#each jumbotron.texts}}
                    <p class="jumbotron__text">
                        {{this}}
                    </p>
                {{/each}}
            </div>
        </section>

        <section class="features">
            <div class="features__list">
                <div class="features__item">
                    <div class="features__icon-wrapper">
                        <svg class="icon icon-betting">
                            <use xlink:href="/images/symbol-defs.svg#icon-betting"></use>
                        </svg>
                        <h3 class="features__item-text">FANTASY SOLUTIONS</h3>
                    </div>
                    <div class="features__item-hover">
                        <ul class="features__stack">
                            <li class="features__stack-item">Fantasy sport</li>
                            <li class="features__stack-item">Betting Service</li>
                            <li class="features__stack-item">Whitelabel Solutions</li>
                        </ul>
                    </div>
                </div>
                <div class="features__item">
                    <div class="features__icon-wrapper">
                        <svg class="icon icon-evelopment">
                            <use xlink:href="/images/symbol-defs.svg#icon-evelopment"></use>
                        </svg>

                        <h3 class="features__item-text">CUSTOMIZABLE OR OUT OF THE BOX</h3>
                    </div>
                    <div class="features__item-hover">
                        <ul class="features__stack">
                            <li class="features__stack-item">Angular JS</li>
                            <li class="features__stack-item">Angular 2</li>
                            <li class="features__stack-item">Cordova</li>
                            <li class="features__stack-item">Ionic</li>
                        </ul>
                    </div>
                </div>
                <div class="features__item">
                    <div class="features__icon-wrapper">
                        <svg class="icon icon-design">
                            <use xlink:href="/images/symbol-defs.svg#icon-design"></use>
                        </svg>

                        <h3 class="features__item-text">TAILORED DESIGN</h3>
                    </div>
                    <div class="features__item-hover">
                        <ul class="features__stack">
                            <li class="features__stack-item">Web</li>
                            <li class="features__stack-item">Mobile</li>
                            <li class="features__stack-item">Branding</li>
                        </ul>
                    </div>
                </div>
                <div class="features__item">
                    <div class="features__icon-wrapper">
                        <svg class="icon icon-apps">
                            <use xlink:href="/images/symbol-defs.svg#icon-apps"></use>
                        </svg>

                        <h3 class="features__item-text">Mobile applications</h3>
                    </div>
                    <div class="features__item-hover">
                        <ul class="features__stack">
                            <li class="features__stack-item">iOS</li>
                            <li class="features__stack-item">Android</li>
                            <li class="features__stack-item">Cross Platform</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="collection">
            <div class="collection__item">
                <div class="collection__item-image-wrapper">
                    <img class="collection__item-image" src="/images/fanteam.jpg" alt="fanteam">
                </div>

                <div class="collection__item-inner">
                    <img class="collection__item-inner-image" src="/images/fanteam_hover.jpg" alt="fanteam">
                    <div class="collection__item-content">
                        <h3 class="collection__item-inner-title">fanteam</h3>
                        <div class="collection__item-inner-view">
                            <img class="collection__item-roundimage" src="/images/device_fanteam.jpg" alt="fanteam_device">
                        </div>
                        <a href="#" class="collection__item-inner-earth">
                            <svg class="icon icon-earth">
                                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
                            </svg>
                        </a>
                        <ul class="collection__item-inner-stack">
                            <li class="collection__item-text">
                                <p>sport platform</p>
                            </li>
                            <li class="collection__item-text">
                                <p>ui/ux</p>
                            </li>
                            <li class="collection__item-text">
                                <p>responsive</p>
                            </li>
                            <li class="collection__item-text">
                                <p>branding</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div id="whatwedo" class="collection__item">

                <div class="collection__item-image-wrapper">
                    <img class="collection__item-image" src="/images/jujuslogo.jpg" alt="Norsk Tipping">
                </div>

                <div class="collection__item-inner">
                    <img class="collection__item-inner-image" src="/images/jujus_hover.jpg" alt="Norsk Tipping">
                    <div class="collection__item-content">
                        <h3 class="collection__item-inner-title">Norsk Tipping</h3>
                        <div class="collection__item-inner-view">
                            <img class="collection__item-roundimage" src="/images/device_jujus.jpg" alt="Norsk Tipping">
                        </div>
                        <a href="#" class="collection__item-inner-earth">
                            <svg class="icon icon-earth">
                                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
                            </svg>
                        </a>
                        <ul class="collection__item-inner-stack">
                            <li class="collection__item-text">
                                <p>ui/ux</p>
                            </li>
                            <li class="collection__item-text">
                                <p>mobile app</p>
                            </li>
                            <li class="collection__item-text">
                                <p>web</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div id="clients" class="collection__item">
                <div class="collection__item-image-wrapper">
                    <img class="collection__item-image" src="/images/fantasy_norway.jpg" alt="fantasy_norway">
                </div>

                <div class="collection__item-inner">
                    <img class="collection__item-inner-image" src="/images/fantasy_hover.jpg" alt="fantasy_norway">
                    <div class="collection__item-content">
                        <h3 class="collection__item-inner-title">Czech Football Association</h3>
                        <div class="collection__item-inner-view">
                            <img class="collection__item-roundimage" src="/images/device_fantasy.jpg" alt="device_fantasy">
                        </div>
                        <a href="#" class="collection__item-inner-earth">
                            <svg class="icon icon-earth">
                                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
                            </svg>
                        </a>
                        <ul class="collection__item-inner-stack">
                            <li class="collection__item-text">
                                <p>ui/ux</p>
                            </li>
                            <li class="collection__item-text">
                                <p>sport platform</p>
                            </li>
                            <li class="collection__item-text">
                                <p>web</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="collection__item">
                <div class="collection__item-image-wrapper">
                    <img class="collection__item-image" src="/images/kwangl.jpg" alt="kwangle">
                </div>

                <div class="collection__item-inner">
                    <img class="collection__item-inner-image" src="/images/kwangl-hover.jpg" alt="kwangle">
                    <div class="collection__item-content">
                        <h3 class="collection__item-inner-title">DreamLiga.com</h3>
                        <div class="collection__item-inner-view">
                            <img class="collection__item-roundimage" src="/images/device_kwangl.jpg" alt="device_kwangle">
                        </div>
                        <a href="#" class="collection__item-inner-earth">
                            <svg class="icon icon-earth">
                                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
                            </svg>
                        </a>
                        <ul class="collection__item-inner-stack">
                            <li class="collection__item-text">
                                <p>ui/ux</p>
                            </li>
                            <li class="collection__item-text">
                                <p>mobile app</p>
                            </li>
                            <li class="collection__item-text">
                                <p>web</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="collection__item__button">
                <a href="<%= works_url %>" class="collection__item__button__real">OUR CLIENTS</a>
            </div>

        </section>
        <section class="approach">
            <div id="approach-wrap" class="approach__content">
                <h2 class="approach__title">{{approach.title}}</h2>
                <p class="approach__text">
                    {{approach.description}}

                </p>
                <canvas id="approach__content-canvas" style="left: -55px;"></canvas>
            </div>
            <div class="approach__list">
                <div class="stat__row">
                {{#each indicators}}
                    <div class="stat-value">
                        <span class="stat-value__number">{{value}}</span>
                        <h4 class="stat-value__name">{{title}}</h4>
                    </div>
                {{/each}}
                </div>
            </div>
        </section>

        <section class="persons">

            <div class="persons__content">
                <div class="persons__inner">
                    <span class="value">27</span>
                    <p class="text">persons allready</p>
                </div>
                <h2 class="persons__content-title">Some Fact About Team</h2>
                <p class="persons__content-text">Our team consists of young, forward thinking and passionate people. We
                    truly love what we do and love woking with our clients.</p>
                <a href="<%= team_url %>" class="persons__content-more">Meet The entire team</a>
            </div>
        </section>

        <footer class="footer">
            <form class="form">

                <h2 class="form__title">let's talk</h2>

                <div class="form__row">

                    <div class="form__item">

                        <input class="control-item" type="text" name="username" placeholder="name">

                    </div>

                    <div class="form__item">
                        <input class="control-item" type="email" name="email" placeholder="e-mail">
                    </div>
                </div>
                <div class="form__row">

                    <textarea class="control-text"></textarea>

                </div>

                <button class="form__approve" type="submit" name="usersubmit" value="submit">Submit</button>

            </form>

            <div class="social">
                <a class="social__item" href="#">
                    <svg class="icon icon-linkedin">
                        <use xlink:href="/images/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                </a>
                <a class="social__item" href="#">
                    <svg class="icon icon-behance">
                        <use xlink:href="/images/symbol-defs.svg#icon-behance"></use>
                    </svg>
                </a>
                <a class="social__item" href="#">
                    <svg class="icon icon-fb">
                        <use xlink:href="/images/symbol-defs.svg#icon-fb"></use>
                    </svg>
                </a>
                <a class="social__item" href="#">
                    <svg class="icon icon-twitter">
                        <use xlink:href="/images/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </a>
            </div>
            <p class="copyrights">© 2010-2016 Global IT Development AS. All rights reserved.</p>
        </footer>
    </div>

</template>