<template name="talkpopup">
    <div class="popup-wrapper">
        <div class="popup">
            <button type="button" name="closer" class="btn-close">
                <svg class="icon icon-cross">
                    <use xlink:href="/images/symbol-defs.svg#icon-cross"></use>
                </svg>
            </button>
            <div class="inner-wrapper">

                <form class="form">

                    <h2 class="form__title">let's talk</h2>

                    <div class="form__row">

                        <div class="form__item">

                            <input class="control-item" type="text" name="username" placeholder="name">

                        </div>

                        <div class="form__item">
                            <input class="control-item" type="email" name="email" placeholder="e-mail">
                        </div>
                    </div>
                    <div class="form__row">

                        <textarea class="control-text"></textarea>

                    </div>

                    <button class="form__approve" type="submit" name="usersubmit" value="submit">Submit</button>

                </form>

                <div class="adrress">
                    <div class="adrress__item-bergen">
                        <h4 class="adrress__item-info">
                            Bergen Office, Norway</h4>
                        <ul class="adrress__item-list">
                            <li class="text-item">Kanalveien 64,</li>
                            <li class="text-item">5059 Bergen</li>
                            <li class="text-item">Tel: +47 56 12 30 00</li>
                            <li class="text-item">post@globalit.no</li>
                        </ul>
                    </div>
                    <div class="adrress__item-lviv">
                        <h4 class="adrress__item-info">Lviv Office, Ukraine</h4>
                        <ul class="adrress__item-list">
                            <li class="text-item">Valova 15,</li>
                            <li class="text-item">79000 Lviv</li>
                            <li class="text-item">Tel: +38 067 70 71 370</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>