@font-face {
  font-family: 'Raleway-Bold';
  src: url('/fonts/Raleway-Bold.eot');
  src: url('/fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('/fonts/raleway-bold-webfont.woff') format('woff'),
  url('/fonts/raleway-bold-webfont.ttf') format('truetype'),
  url('/fonts/raleway-bold-webfont.svg#ralewayabold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Extrabold';
  src: url('/fonts/Raleway-Extrabold.eot');
  src: url('/fonts/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway-extrabold-webfont.woff2') format('woff2'),
  url('/fonts/raleway-extrabold-webfont.woff') format('woff'),
  url('/fonts/raleway-extrabold-webfont.ttf') format('truetype'),
  url('/fonts/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Extralight';
  src: url('/fonts/Raleway-Extralight.eot');
  src: url('/fonts/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway-extralight-webfont.woff2') format('woff2'),
  url('/fonts/raleway-extralight-webfont.woff') format('woff'),
  url('/fonts/raleway-extralight-webfont.ttf') format('truetype'),
  url('/fonts/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Heavy';
  src: url('/fonts/Raleway-Heavy.eot');
  src: url('/fonts/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway-heavy-webfont.woff2') format('woff2'),
  url('/fonts/raleway-heavy-webfont.woff') format('woff'),
  url('/fonts/raleway-heavy-webfont.ttf') format('truetype'),
  url('/fonts/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('/fonts/Raleway-Light.eot');
  src: url('/fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway-light-webfont.woff2') format('woff2'),
  url('/fonts/raleway-light-webfont.woff') format('woff'),
  url('/fonts/raleway-light-webfont.ttf') format('truetype'),
  url('/fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('/fonts/Raleway-Medium.eot');
  src: url('/fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway-medium-webfont.woff2') format('woff2'),
  url('/fonts/raleway-medium-webfont.woff') format('woff'),
  url('/fonts/raleway-medium-webfont.ttf') format('truetype'),
  url('/fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('/fonts/Raleway-Regular.eot');
  src: url('/fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('/fonts/raleway-regular-webfont.woff') format('woff'),
  url('/fonts/raleway-regular-webfont.ttf') format('truetype'),
  url('/fonts/raleway-regular-webfont.svg#ralewaymedium') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Semibold';
  src: url('/fonts/Raleway-Semibold.eot');
  src: url('/fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway-semibold-webfont.woff2') format('woff2'),
  url('/fonts/raleway-semibold-webfont.woff') format('woff'),
  url('/fonts/raleway-semibold-webfont.ttf') format('truetype'),
  url('/fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url('/fonts/Raleway-Thin.eot');
  src: url('/fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/raleway-thin-webfont.woff2') format('woff2'),
  url('/fonts/raleway-thin-webfont.woff') format('woff'),
  url('/fonts/raleway-thin-webfont.ttf') format('truetype'),
  url('/fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
  font-weight: 200;
  font-style: normal;
}
