.footer{
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 5%, rgba(15, 99, 116, 1) 100%);
    box-sizing: border-box;
    padding: 200px 0 0;
    @include respond-to(middle-desktop){
        padding: 155px 0 0;
    }
    @include respond-to(mobile-landscape){
        padding: 12px 0 0;
        background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 1.5%, rgba(15, 99, 116, 1) 100%);
    }
    @include respond-to(mobile-portrait){
        padding: 5px 0 0;
    }
}
.copyrights{
    border-top: 1px solid #fff;
    margin: 0;
    padding: 10px 40px 5px 70px;
    color: #fff;
    font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.2;
    opacity: 0.5;
    letter-spacing: 1.5px;
    height: auto;
    box-sizing: border-box;
    @include respond-to(middle-desktop){
        padding-left: 40px;
        }
    @include respond-to(tablet-landscape){
        padding: 10px 0 5px 30px;
        }
    @include respond-to(tablet-portrait){
        padding-left: 30px;
        }
    @include respond-to(mobile-portrait){
        padding: 10px 20px 10px 20px;
        font-size: 12px;
        text-align: center;
        }
}