.form {
  max-width: 1100px;
  margin: 50px auto 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  box-sizing: border-box;
  @include respond-to(middle-desktop) {
    max-width: 900px;
  }
  @include respond-to(mobile-landscape) {
    padding: 0 10px;
    margin-bottom: 70px;
  }
  @include respond-to(mobile-portrait) {
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 48px;
    font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    letter-spacing: 2px;
    margin-bottom: 50px;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      margin-left: 20px;
    }
    @include respond-to(middle-desktop) {
      font-size: 30px;
      margin-bottom: 40px;
    }
    @include respond-to(mobile-landscape) {
      font-size: 36px;
      margin-bottom: 0;
      margin-top: 20px;
    }
    @include respond-to(mobile-portrait) {
      font-size: 44px;
      margin-top: 40px;
    }
  }
  &__row-text {
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 0 20px;
    @include respond-to(mobile-landscape) {
      padding: 0 40px;
    }
    @include respond-to(mobile-portrait) {
      margin-bottom: 50px;
      padding: 0 10px;
    }
  }
  &__row {
    display: flex;
    margin: 0 -20px 50px;
    box-sizing: border-box;
    @include respond-to(mobile-landscape) {
      flex-direction: column;
      padding: 0 40px;
      margin-bottom: 50px;
    }
    @include respond-to(mobile-portrait) {
      padding: 0 10px;
      margin-bottom: 30px;
    }
  }
  &__item {
    padding: 0 20px;
    flex: 1;
    margin: 0 -15px;
    @include respond-to(mobile-landscape) {
      margin-top: 40px;
    }
    @include respond-to(mobile-portrait) {
      margin-top: 20px;
    }
  }
  &__approve {
    margin: 0 auto;
    width: 260px;
    height: 60px;
    background: transparent;
    border: 0.5px solid #fff;
    border-radius: 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 1.2;
    font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
    outline: none;
    letter-spacing: 2px;
    transition: 0.5s;
    @include respond-to(middle-desktop) {
      width: 180px;
      margin: 0 auto;
      height: 50px;
    }
    @include respond-to(tablet-landscape) {
      width: 250px;
    }
    @include respond-to(mobile-landscape) {
      margin: 0 auto;
    }
    &:hover {
      background: #fff;
      color: #097886;
      box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
    }
  }
  .control-item {
    width: 100%;
    height: 60px;
    background: #52a7b0;
    border-radius: 30px;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 1.2;
    padding: 10px 20px;
    letter-spacing: 1px;
    &:focus {
      padding: 10px 20px;
      font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
    }
    &::-webkit-input-placeholder {
      color: #fff;
    }
    @include respond-to(middle-desktop) {
      height: 50px;
    }
    @include respond-to(mobile-portrait) {
      height: 50px;
    }
  }
  .control-text {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 130px;
    background: #52a7b0;
    border-radius: 65px;
    outline: none;
    border: none;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 20px 40px;
    line-height: 1.2;
    resize: none;
    &:focus {
      padding: 20px 40px;
      font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    }
    @include respond-to(middle-desktop) {
      height: 105px;
    }
    @include respond-to(mobile-landscape) {
      height: 100px;
    }
    @include respond-to(mobile-portrait) {
      height: 90px;
      font-size: 16px;
    }
  }
}