.header{
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 99;
    top: -1px;
    left: 0;
    right: 0;
    height: 100px;
    padding: 0 50px 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 4px 5px 20px 0px rgba(1, 2, 2, 0.3);
    @include respond-to(middle-desktop) {
        padding: 0 40px 0 40px;
        height: 80px;
    }
    @include respond-to(tablet-landscape) {
        padding: 0 30px 0 30px;
        height: 60px;
    }
    @include respond-to(tablet-portrait) {
        padding: 0 20px 0 20px
    }
    @include respond-to(mobile-landscape) {
        height: 60px;
        padding: 0 30px 0 30px;
    }
    @include respond-to(mobile-portrait) {
        padding: 0 15px 0 15px;
    }
}
.logo {
    width: 144px;
    height: 60px;
    &:hover {
        cursor: pointer;
        @include respond-to(tablet-landscape) {
            width: 100px;
            height: 50px;
            background-size: 90% 75%;
            background: no-repeat center center;
        }
        @include respond-to(mobile-landscape) {
            width: 100px;
            height: 40px;
            background-size: 90% 90%;
            background: no-repeat center center;
        }
    }
    &__reference{
        display: block;
        width: 100px;
        height: 50px;
        background: url("/images/logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 90%;
        height: 90%;
    }
}
.toggler {
    display: none;
    @include respond-to(tablet-portrait) {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        box-sizing: border-box;
        border-radius: 50%;
        display: block;
        right: 20px;
    }
    @include respond-to(mobile-landscape) {
        top: 12px;
        width: 30px;
        height: 30px;
        right: 20px;
    }
    @include respond-to(mobile-portrait) {
        top: 20px;
        &__item {
            background: transparent;
            outline: none;
            border: none;
        }
    }
}
.icon-hamburger {
    width: 40px;
    height: 40px;
    color: #1d6d7b;
    @include respond-to(tablet-landscape) {
        width: 35px;
        height: 35px;
    }
    @include respond-to(tablet-portrait) {
        width: 35px;
        height: 35px;
    }
    @include respond-to(mobile-landscape) {
        width: 30px;
        height: 30px;
    }
    @include respond-to(mobile-portrait) {
        width: 20px;
        height: 20px;
    }
}

.nav{
    @include respond-to(tablet-portrait) {
        .nav__item {
            display: none;
        }
    }
    .nav__item {
        font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
        line-height: 1.2;
        text-decoration: none;
        color: #000;
        padding: 5px 20px 5px 20px;
        font-size: 14px;
        opacity: 0.7;
        @include respond-to(middle-desktop) {
            font-size: 16px;
            padding: 10px 20px 10px 20px;
        }
        @include respond-to(tablet-landscape) {
            padding: 10px 20px 10px 20px;
            font-size: 14px;
        }
        &:hover {
            opacity: 1;
        }
        &-action {
            @extend .nav__item;
            border: 1px solid #000;
            border-radius: 20px;
            padding: 10px 19.5px;
            width: 120px;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
            box-sizing: border-box;
            transition: 0.5s;
        }
        &-action:hover {
            border: 1px solid transparent;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
            color: #0F6473;
            box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
        }
    }
}