.jumbotron{
    background: url("../../images/jumbotron_bg.jpg") center center no-repeat;
    padding: 80px 75px 105px;
    box-sizing: border-box;
    background-size: cover;
    box-shadow: 0 4px 2px -2px gray;
    @include respond-to(middle-desktop){
        padding: 120px 75px 125px 40px;
        }
    @include respond-to(tablet-landscape){
        padding: 160px 60px 220px 30px;
        }
    @include respond-to(tablet-portrait){
        padding: 175px 30px 105px 30px;
        margin: 0;
        }
    @include respond-to(mobile-landscape){
        padding: 20px 10px 20px;
        }
    &__text-block{
        border: 8px solid #000;
        background: rgba(255, 255, 255, 0.43);
        padding: 50px 60px 20px 60px;
        box-sizing: border-box;
        max-width: 850px;
        @include respond-to(middle-desktop){
            padding: 30px 20px 0 40px;
            max-width: 570px;
            }
        @include respond-to(tablet-landscape){
            padding: 45px 60px 0px 60px;
            max-width: 750px;
            }
        @include respond-to(tablet-portrait){
            margin: 0;
            padding: 0;
            }
        @include respond-to(mobile-landscape){
            max-width: 500px;
            padding: 5px 20px;
            border: 6px solid #000;
            margin: 100px auto;
            margin-bottom: 20px;
            }
        @include respond-to(mobile-portrait){
            padding: 5px 0;
            }
    }
    &__title{
        font-size: 45px;
        color: #000;
        max-width: 630px;
        line-height: 100px;
        margin: 0 0 40px;
        font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
        @include respond-to(middle-desktop){
            font-size: 40px;
            color: #000;
            line-height: 65px;
            margin: 0 0 20px;
            max-width: 430px;
            }
        @include respond-to(tablet-landscape){
            font-size: 45px;
            max-width: 800px;
            line-height: 74px;
            }
        @include respond-to(tablet-portrait){
            padding: 50px 30px 30px;
            }
        @include respond-to(mobile-landscape){
            font-size: 40px;
            text-align: left;
            padding: 10px 10px;
            line-height: 48px;
            margin: 0;
            }
        @include respond-to(mobile-portrait){
            font-size: 38px;
            }
    }
    &__text{
        margin: 0 0 10px;
        font-size: 20px;
        line-height: 36px;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;;
        &:last-child{
            margin-bottom: 40px;
            }
        @include respond-to(middle-desktop){
            margin: 0 0 10px;
            font-size: 18px;
            line-height: 26px;
            }
        @include respond-to(tablet-landscape){
            font-size: 18px;
            line-height: 24px;
            }
        @include respond-to(tablet-portrait){
            padding: 0px 30px 0px;
            font-size: 24px;
            line-height: 32px;
            }
        @include respond-to(mobile-landscape){
            font-size: 16px;
            padding: 0 10px;
            text-align: left;
            line-height: 30px;
            &:last-child{
                margin-bottom: 30px;
                }
            @include respond-to(mobile-portrait){
                padding: 0 15px;
            }
        }
    }
}