.mobile-menu{
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 5%, rgba(15, 99, 116, 1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 0;
    transition: height 0.4s ease-in-out;
    &__wrapper{
        position: relative;
        top: 12%;
        }
    &__btn{
        width: 40px;
        height: 40px;
        background: #66c1c7;
        z-index: 8;
        position: absolute;
        border: none;
        border-radius: 50%;
        box-sizing: border-box;
        display: block;
        right: 25px;
    }
    &__list{
        list-style-type: none;
        padding: 60px 0 0 0;
        text-align: center;
        margin: 0;
    }
    &__item{
        line-height: 2.5;
        font-size: 24px;
        font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
        a{
            text-decoration: none;
            color: #fff;
        }
        &:hover{
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
        }
    }
    &__item-btn{
        width: 60%;
        margin: 0 auto;
        line-height: 1.2;
        border: 2px solid #fff;
        background: transparent;
        border-radius: 18px;
        height: 36px;
        font-size: 12px;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        color: #fff;
        outline: none;
        margin-top: 45px;
        margin-bottom: 40px;
        max-width: 300px;
        &:hover{
            transition: 0.3s;
            background: #fff;
            color: #097886;
            box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
            border: none;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
        }
    }
}
.icon-crossy{
    width: 25px;
    height: 25px;
    color: #1d7381;
}