.tabs__row{
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    &-item{
        flex: 1;
        height: 100px;
        font-size: 24px;
        font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
        line-height: 36px;
        color: #0F6473;
        padding: 30px;
        background: #35a6ae;
        margin: 0;
        box-sizing: border-box;
        transition: 0.5s;
        border-bottom: 1px solid transparent;
        &:not(:first-child){
            border-left: 1px solid #04959f;
            }
        &:hover{
            cursor: pointer;
            }
    }
}
.checked__tab{
    border-color: #048b97;
    background: #fff;
    box-shadow: -2px 2px 18px 0px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}