.team{
    background: gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 2%, rgba(15, 99, 116, 1) 100%);
    min-width: 320px;
    padding-top: 100px;
    @include respond-to(tablet-landscape){
        padding-top: 60px;
    }
    &__jumbotron{
        // padding-top: 100px
        // display: flex
        // background: url("../../images/team_new.jpg") center center no-repeat
        // background-size: cover
        min-height: 200px;
        max-height: 600px;
        height: auto;
        // @include respond-to(tablet-portrait)
        //     height: 300px
        //     padding-top: 100px
        //     display: flex
        //     background: url("../../images/team_new.jpg") center center no-repeat
        //     background-size: cover
        img{
            width: 100%;
            height: auto;
            display: block;
            min-height: 200px;
        }
    }
    &__info{
        background: linear-gradient(to top, rgba(0, 154, 164, 1) 0%, rgba(15, 99, 116, 1) 100%);
        padding: 70px 80px 140px;
        @include respond-to(middle-desktop){
            padding: 40px 45px 50px 40px;
            }
        @include respond-to(tablet-landscape){
            padding: 40px 40px 50px 30px;
            }
        @include respond-to(tablet-portrait){
            padding: 30px 20px 50px 20px;
            }
        &-title{
            margin: 0;
            font-size: 48px;
            font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
            color: #fff;
            line-height: 70px;
            text-align: left;
            letter-spacing: 2px;
            transform: matrix(1.00014580586513, 0, 0, 0.99985543115083, 0, 0);
            margin-bottom: 20px;
            @include respond-to(middle-desktop){
                line-height: 2;
                font-size: 30px;
                }
            @include respond-to(tablet-portrait){
                line-height: 1.5;
                font-size: 28px;
                }
            @include respond-to(mobile-portrait){
                font-size: 20px;
                }
        }
        &-text{
            font-size: 24px;
            font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
            color: rgb(255, 255, 255);
            line-height: 48px;
            text-align: left;
            letter-spacing: 1px;
            margin: 0;
            max-width: 1400px;
            transform: matrix(1.00014580586513, 0, 0, 0.99985543115083, 0, 0);
            @include respond-to(middle-desktop){
                font-size: 18px;
                text-align: left;
                padding-right: 200px;
                }
            @include respond-to(tablet-landscape){
                padding-right: 70px;
                }
            @include respond-to(tablet-portrait){
                font-size: 18px;
                padding-right: 20px;
                }
        }
    }
    &__persons{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 5%, rgba(15, 99, 116, 1) 100%);
        &-item{
            width: 16.66%;
            height: auto;
            transition: 0.3s;
            position: relative;
            &:hover{
                cursor: pointer;
                .item-photo-wrapper{
                    animation: fadeOut 0.5s 1;
                }
                .item-content-wrapper{
                    animation: fadeIn 0.5s 1;
                    z-index: 3;
                }
            }
            @include respond-to(fullhddesktop){
                width: 16.66%;
                }
            @include respond-to(desktop){
                width: 20%;
                }
            @include respond-to(large-desktop){
                width: 20%;
                }
            @include respond-to(middle-desktop){
                width: 25%;

            @include respond-to(tablet-landscape){
                width: 33.33%;
                }
            @include respond-to(tablet-portrait){
                width: 50%;
                }
            @include respond-to(mobile-landscape){
                width: 50%;
                }
            @include respond-to(mobile-portrait){
                width: 100%;
                }
            .item-photo-wrapper{
                position: relative;
                z-index: 2;
                }
            .item-photo{
                width: 100%;
                height: auto;
                display: block;
                }
            .item-content-wrapper{
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: left;
                padding: 30px;
                box-sizing: border-box;
                background: #0b7583;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background: linear-gradient(to bottom, rgba(0, 102, 102, 1) 0%, rgba(0, 147, 155, 1) 5%, rgba(15, 99, 116, 1) 100%);
            }
            .item-content-title{
                font-size: 24px;
                line-height: 36px;
                font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
                margin: 0 0 10px 0;
                color: #fff;
            }
            .item-content-text{
                margin-top: -30px;
                color: #fff;
                }
            .item-content-btn{
                margin: 0 auto;
                display: block;
                width: 100%;
                background: transparent;
                outline: none;
                height: 50px;
                border: 1px solid #fff;
                border-radius: 25px;
                color: #fff;
                font-family: "Raleway-Regular";
                transition: 0.4s;
                vertical-align: bottom;
                min-height: 40px;

                &:hover{
                    background: #fff;
                    color: #097886;
                    box-shadow: 5px 8.66px 24px 0px rgba(1, 2, 2, 0.3);
                    border: none;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }
    }
}
.team-footer {
    background: linear-gradient(to top, rgba(0, 154, 164, 1) 0%, rgba(15, 99, 116, 1) 100%);
    .adrress {
        display: flex;
        justify-content: space-around;
        padding: 200px 50px 0 50px;
        max-width: 600px;
        margin: 0;
        position: relative;
        @include respond-to(middle-desktop) {
            padding: 50px 0 0 0px;
        }
        @include respond-to(tablet-portrait) {
            padding-left: 0;
            padding-top: 60px;
            margin-left: -35px;
        }
        @include respond-to(mobile-landscape) {
            &:before {
                border-top: 1px solid #fff;
                position: absolute;
                left: 50px;
                right: 50px;
                content: "";
            }
            flex-direction: row;
            margin-left: 0;
        }
        @include respond-to(mobile-portrait) {
            &:before {
                border-top: 1px solid #fff;
                position: absolute;
                left: 50px;
                right: 50px;
                bottom: 20px;
                content: "";
            }
            margin-left: 0;
            flex-direction: column;
            padding-bottom: 70px;
            padding-left: 70px;
            padding-right: 50px;
            margin: 0 auto;
        }
        &__item-bergen {
            padding-right: 90px;
            @include respond-to(tablet-portrait) {
                padding: 0;
            }
        }
        &__item-info {
            color: #fff;
            font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
            font-size: 21px;
            line-height: 1.429;
            margin: 0;
            @include respond-to(middle-desktop) {
                font-size: 18px;
            }
            @include respond-to(tablet-portrait) {
                font-size: 18px;
            }
            @include respond-to(mobile-landscape) {
                font-size: 16px;
                padding-top: 30px;
            }
        }
        &__item-list {
            padding: 0;
            margin: 0;
        }
        .text-item {
            list-style-type: none;
            font-size: 18px;
            padding-top: 15px;
            color: #fff;
            text-align: left;
            font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
            line-height: 1.4;
            @include respond-to(middle-desktop) {
                font-size: 16px;
                line-height: 1;
            }
            @include respond-to(tablet-portrait) {
                font-size: 14px;
            }
            @include respond-to(mobile-landscape) {
                padding-top: 5px;
            }
        }
    }
    .social {
        width: 350px;
        height: 70px;
        margin: 0;
        display: flex;
        padding: 120px 0 0 55px;
        justify-content: space-around;
        margin-bottom: 220px;
        @include respond-to(middle-desktop) {
            padding: 60px 0 0 30px;
            margin-bottom: 85px;
        }
        @include respond-to(tablet-portrait) {
            padding: 40px 0 0 20px;
            width: 300px;
        }
        @include respond-to(mobile-landscape) {
            padding: 0;
            margin: 50px auto 120px;
        }
        @include respond-to(mobile-portrait) {
            width: 280px;
            margin-bottom: 45px;
        }
    }
}
}