<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Scout gaming group</title>

    <link href="https://fonts.googleapis.com/css?family=Exo:400,600,700,800,300,100,200,500,900" rel="stylesheet" type="text/css">
    <!--CDN links for TweenLite, CSSPlugin, and EasePack-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/CSSPlugin.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="/build/styles/style.css">-->
</head>

<template name="layout">
<header class="header">
    <strong class="logo">
        <a class="logo__reference" href="/"></a>
    </strong>
    <div class="toggler">
        <button id="showhide" class="toggler__item" type="button" name="button">
            <svg class="icon icon-hamburger">
                <use xlink:href="/images/symbol-defs.svg#icon-hamburger"></use>
            </svg>
        </button>
    </div>
    <nav class="nav">
        {{#each menuItems}}
            {{#if talkBtn}}
                <a class="nav__item-action" id="talkbutton" href="#">{{title}}</a>
            {{else}}
                <a class="nav__item" href="{{href}}">{{title}}</a>
            {{/if}}
        {{/each}}
    </nav>
</header>

{{> yield }}

<div class="mobile-menu">
    <div class="mobile-menu__wrapper">

        <button class="mobile-menu__btn" id="hideshow" type="button" name="button">
            <svg class="icon icon-crossy">
                <use xlink:href="/images/symbol-defs.svg#icon-cross"></use>
            </svg>
        </button>
        <ul class="mobile-menu__list">
            {{#each menuItems}}
                {{#if talkBtn}}
                    <button class="mobile-menu__item-btn" id="talkbutton1" type="button"
                            name="button">{{title}}</button>
                {{else}}
                    <li class="mobile-menu__item">
                        <a href="{{href}}">{{title}}</a>
                    </li>
                {{/if}}
            {{/each}}

        </ul>
    </div>
</div>
{{> talkpopup}}
</template>